<div class="sidebar col-md-3">
	<div class="sidebar__menu p-2">
		<a class="sidebar__item button-large">
			<i class="fas fa-exchange-alt"></i>
			Обменять
		</a>
		<a href="account.html" class="sidebar__item button-large">
			<i class="fas fa-history"></i>
			История
		</a>
		<a class="sidebar__item button-large">
			<i class="fas fa-dollar-sign"></i>
			Резервы
		</a>
		<a class="sidebar__item button-large">
			<i class="fas fa-birthday-cake"></i>
			Бонусы
		</a>
		<a class="sidebar__item button-large">
			<i class="fas fa-hands-helping"></i>
			Партнерам
		</a>
		<a class="sidebar__item button-large">
			<i class="fas fa-question-circle"></i>
			FAQ
		</a>
	</div>
</div>