<div class="sidebar col-md-3 d-none d-md-block">
	<div class="sidebar__menu p-2">
		<a href="index.html" class="sidebar__item button-large">
			<i class="fas fa-exchange-alt"></i>
			Exchange
		</a>
		<a href="account.html" class="sidebar__item button-large">
			<i class="fas fa-history"></i>
			History
		</a>

		<a class="sidebar__item button-large">
			<i class="fas fa-birthday-cake"></i>
			Events
		</a>
		<a class="sidebar__item button-large">
			<i class="fas fa-hands-helping"></i>
			Sponsoring
		</a>
		<a class="sidebar__item button-large">
			<i class="fas fa-question-circle"></i>
			FAQ
		</a>
	</div>
</div>