<div class="card s-card transaction-card mb-2">
	<div class="card-wrapper--mini pb-2">
		<p class="text-muted text--mini mb-2">
			Yesterday (23:12)
		</p>
		<div class="transaction-card__section">
			<div class="transaction-card__from-to d-flex align-items-center">
				<div class="transcation-card__form">
					<img class="transaction-card__currency-icon" src="./assets/images/bitcoin.png" alt="">
					<p>Bitcoin</p>
				</div>
				<i class="fas fa-angle-double-right"></i>
				<div class="transaction-card__to">
					<img class="transaction-card__currency-icon" src="./assets/images/ethereum.png" alt="">
					<p>Ethereum</p>
				</div>
			</div>
		</div>
	</div>
	<hr class="hr">
	<div class="card-wrapper--mini pt-1">
		<div class="d-flex justify-content-between">
			<div class="transaction-card__from-to d-flex align-items-center">
				<div class="transcation-card__form">
					2
				</div>
				<i class="fas fa-angle-double-right"></i>
				<div class="transaction-card__to">
					3000 (<span class="font-weight-bold">+2%</span>)
				</div>
			</div>
			<div class="button button-small button-primary">Repeat</div>
		</div>
	</div>
</div>