{% extends './origin/base.html' %}
{% block title %}Регистрация{% endblock %}
{% set current_user = true %}
{% block content %}
	<div class="s-block s-account row g-0">
	
		{% include './origin/sidebar.html' %}
		
		<div class="col-md-9">
			<div class="row g-2">
				<div class="col-lg-8">
					<div class="s-card card shadow-sm">
						
						<div class="card-wrapper pb-0">
							<div class="heading mb-4">Transaction history</div>
						</div>
						<div class="card-wrapper s-account__transactions-container pt-0">
							{% for i in range(0,5) %}
								{% include './origin/transaction-card.html' %}
							{% endfor %}
							<div class="button button-small button-primary mx-auto">Загрузить ещё</div>
						</div>

					</div>
				</div>
				<div class="col-lg-4">
					<div class="s-card card shadow-sm">
						<div class="card-wrapper">
							<div class="heading mb-4">Account status</div>
								
							<table class="table table-borderless mb-3">
								<tbody>
									<tr>
										<td class="text">
											Total
										</td>
										<td class="text">
											<b class="font-weight-bold">23</b> transactions	
										</td>
									</tr>
									<tr>
										<td class="text">
											Sent
										</td>
										<td class="text">
											<b class="font-weight-bold">23491</b> $
										</td>
									</tr>
									<tr>
										<td class="text">
											Income
										</td>
										<td class="text">
											<b class="font-weight-bold">2091</b> $
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}