{% extends './origin/base.html' %}
{% block title %}Обмен{% endblock %}
{% block content %}

	<div class="s-block row">
		
		{% include './origin/sidebar.html' %}
		
		<div class="s-trade card s-card shadow-sm col-md-9">
			
			<div class="card-wrapper">
				<div class="row gx-4 gy-5">
					
					<div class=" col-md-6">

						<div class="heading">Pay</div>

						<div>
							<div class="s-trade__select button button-select button-large w-100">
								<div>
									<img src="assets/images/bitcoin.png" class="button__image">
									bitcoin
								</div>
								<i class="fas fa-angle-up button-select__arrow"></i>
								<div class="button-select__dropdown">
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
								</div>
							</div>
							
						</div>

						<div class="s-trade__field mt-4">
							<input type="Number" placeholder="Amount(BTC)" class="input s-trade__field-self mb-2">
						</div>
						
						<div class="mb-5">
							<p class="text text--mini text-muted">
								Min: 0.001 BTC Max: 10.00 BTC
							</p>
							<p class="text text--mini text-muted">
								1 BTC = 4 184 549 RUB
							</p>
						</div>

						<input type="email" placeholder="Email" class="input mb-2 s-trade__input">
						<p class="text text--mini">Write down an email for receive mail about status of this operation</p>
					</div>
					<div class=" col-md-6">

						<div class="heading">Receive</div>


						<div>
							<div class="s-trade__select button button-select button-large w-100">
								<div>
									<img src="assets/images/mastercard.png" class="button__image">
									Visa MasterCard
								</div>
								<i class="fas fa-angle-up button-select__arrow"></i>
								<div class="button-select__dropdown">
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
								</div>
							</div>
							
						</div>

						<div class="s-trade__field mt-4">
							<input type="Number" placeholder="Amount(Visa MasterCard)" class="input s-trade__field-self mb-2">
						</div>

						<div class="mb-5">
							<p class="text text--mini text-muted">
								Reserves: 66194.159836 BTC
							</p>
						</div>
						
						<input type="" placeholder="Card Number" class="input mb-5 s-trade__input">

						<p class="text text--mini mb-3">
							Clicking "Accept" button below you're agree with <a class="a d-inline" href="#">Terms & Politics</a> of this service
						</p>
						<div class="button button-primary button-large button-wide s-trade__submit">Accept</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
			