{% extends './origin/base.html' %}
{% block title %}Обмен{% endblock %}
{% block content %}

	<div class="s-block row">
		
		{% include './origin/sidebar.html' %}
		
		<div class="s-trade card s-card shadow-sm col-md-9">
			
			<div class="card-wrapper">
				<div class="row gx-4 gy-5">
					
					<div class=" col-md-6">

						<div class="heading">Отдаю</div>

						<div>
							<div class="s-trade__select button button-select button-large w-100">
								<div>
									<img src="assets/images/bitcoin.png" class="button__image">
									bitcoin
								</div>
								<i class="fas fa-angle-up button-select__arrow"></i>
								<div class="button-select__dropdown">
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
								</div>
							</div>
							
						</div>

						<div class="d-flex flex-wrap s-trade__currencies mt-2 mb-3">
							<div class="button button-primary button-small">Кнопка</div>
							<div class="button button-primary button-small">Кнопка</div>
							<div class="button button-primary button-small">Кнопка</div>
						</div>

						<div class="s-trade__field">
							<input type="Number" placeholder="Номинал(BTC)" class="input s-trade__field-self mb-2">
						</div>
						
						<div class="mb-5">
							<p class="text text--mini text-muted">
								Min: 0.001 BTC Max: 10.00 BTC
							</p>
							<p class="text text--mini text-muted">
								1 BTC = 4 184 549 RUB
							</p>
						</div>

						<input type="email" placeholder="Почта" class="input mb-2 s-trade__input">
						<p class="text text--mini">Добавьте почту что бы получить письмо о подтверждении транзакции</p>
					</div>
					<div class=" col-md-6">

						<div class="heading">Получаю</div>


						<div>
							<div class="s-trade__select button button-select button-large w-100">
								<div>
									<img src="assets/images/mastercard.png" class="button__image">
									Visa MasterCard
								</div>
								<i class="fas fa-angle-up button-select__arrow"></i>
								<div class="button-select__dropdown">
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
									<div class="button-select__dropdown-item">
										<img src="assets/images/bitcoin.png" class="button__image">
										Bitcoin
									</div>
									<div class="button-select__dropdown-item">
										<img class="button__image" src="assets/images/ethereum.png">
										Ethereum
									</div>
								</div>
							</div>
							
						</div>

						<div class="d-flex flex-wrap s-trade__currencies mt-2 mb-3">
							<div class="button button-primary button-small">Кнопка</div>
							<div class="button button-primary button-small">Кнопка</div>
							<div class="button button-primary button-small">Кнопка</div>
						</div>

						<div class="s-trade__field">
							<input type="Number" placeholder="Номинал(Visa MasterCard)" class="input s-trade__field-self mb-2">
						</div>

						<div class="mb-5">
							<p class="text text--mini text-muted">
								Резервы: 66194.159836 BTC
							</p>
						</div>
						
						<p class="text mb-1">Требуется два подтверждения от сети Bitcoin.</p>
						<input type="" placeholder="Номер карты" class="input mb-5 s-trade__input">

						<p class="text text--mini mb-3">
							При нажатии на кнопку "Обменять" Вы соглашаетесь c <a class="a" href="#">пользовательским соглашением</a> нашего ресурса
						</p>
						<div class="button button-primary button-large button-wide s-trade__submit">Подтвердить</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="s-block s-faq mt-5 gx-2 row">
		<div class="col-md-6 s-faq__col">
			<div class="heading text-center">Последние транзакции</div>
			<div class="s-faq__table-wrapper Scroll">
				<table class="s-faq__table table-striped" cellspacing="0">
					<thead>
						<tr>
							<th scope="col">Время</th>
							<th scope="col" class="s-faq__center-row">Операция</th>
							<th scope="col" class="s-faq__right-row">Номинал</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
						<tr>
							<td>30с.</td>
							<td class="s-faq__center-row">
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC<br>
								<img src="assets/images/bitcoin.png" class="s-faq__currency">BTC
							</td>
							<td class="s-faq__right-row">1</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="s-faq__col s-faq__col--white pb-4">
				<div class="heading text-center">Резервы</div>
				<div class="s-faq__reserves d-flex flex-wrap">
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
					<div class="card s-faq__reserve">
						<img src="assets/images/bitcoin.png" class="s-faq__currency"> BTC = 2
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
			