{% extends './origin/base.html' %}
{% block title %}Забыл пароль{% endblock %}
{% block content %}
	<div class="s-block row g-0">

		{% include './origin/sidebar.html' %}
		
		<div class="s-card card shadow-sm col-md-6">
			
			<div class="row g-0">
				<div class="card-wrapper">
					<div class="heading mb-1">Забыл пароль?</div>
					<p class="text mb-5">Мы всё понимаем, разное случается. Введи свой адрес почты и мы отправим письмо с ссылкой на смену пароля.</p>

					<input class="input input--wide w-100 mb-5" type="email" placeholder="Email">

					<p class="text--mini text-center mt-5">protected by reCAPTCHA</p>
					<p class="text--mini text-center">
						<a class="d-inline a text-muted" href="#">Privacy</a><a class="d-inline a text-muted" href="#">Terms</a>
					</p>
					<div class="button button-primary button-large button-wide s-trade__submit mt-1 mb-1">Отправить</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}