{% extends './origin/base.html' %}
{% block title %}Registration{% endblock %}
{% set hide_registration = true %}
{% block content %}
	<div class="s-block row g-0">
	
			{% include './origin/sidebar.html' %}
		
		<div class="s-card card shadow-sm col-md-9">
			
			<div class="row g-0">
				<div class="card-wrapper col-lg-6">
					<div class="heading mb-5">Registration</div>

					<input class="input input--wide w-100 mb-5" type="email" placeholder="Email">
					<input class="input input--wide w-100 mb-5" type="email" placeholder="Username">
					<input class="input input--wide w-100 mb-5" type="password" placeholder="Passwprd">
					<input class="input input--wide w-100 mb-5" type="password" placeholder="Password again">

					<p class="text--mini text-center mt-5">protected by reCAPTCHA</p>
					<p class="text--mini text-center">
						<a class="d-inline a text-muted" href="#">Privacy</a><a class="d-inline a text-muted" href="#">Terms</a>
					</p>
					<div class="button button-primary button-large button-wide s-trade__submit mt-1 mb-1">Create account</div>
					<p class="text-right text"><a class="a text-muted" href="login.html">Have an account?</a></p>
				</div>
				<div class="backgrounded col-lg-6 d-lg-block d-none">
					<img class="background-img" src="assets/images/background.jpg" alt="">
				</div>
			</div>

		</div>
	</div>
{% endblock %}